:root {
  
    --clr-mainColor:#eaeaea;
	--clr-secondaryColor:#fff;

	--clr-borderColor:#c1c1c1;

	--clr-mainText: #000000;
	--clr-secondaryText:#4b5156;

	--clr-themeDotBorder:#24292e;

	--clr-previewBg:rgb(251, 249, 243, 0.8);
	--clr-previewShadow:#f0ead6;

	--clr-buttonColor: #000000;

    --clr-theme-one:#7135F2; 
    --clr-theme-one:#037903; 
    --clr-theme-two:#05AFF2; 

    --clr-dot-1: #FC6058; 
    --clr-dot-2: #FEC02F;
    --clr-dot-3: #2ACA3E; 

    --font-size-small: 1.2rem; 
    --font-size-medium: 1.5rem; 
    --font-size-medium-tall: 1.8rem; 
    --font-size-title: 2.4rem; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body* {
    transition: 0.3s;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #17a2b8;
}
img {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1,h2,h3,h4,h5,h6, strong {
    color: var(--clr-mainText);
    font-weight: 500;
}
p, li, span, label, input, textarea {
    font-family: 'Roboto Mono', monospace;
    color: var(--clr-secondaryText);
}
h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1 {
    background-color: var(--clr-mainColor);
    border-bottom: solid var(--clr-borderColor);
    overflow: auto;
}
.s2 {
    background-color: var(--clr-secondaryColor);
    border-bottom: 1px solid var(--clr-borderColor);
    overflow: hidden;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}
.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10rem;
}
.intro-wrapper {
    background-color: var(--clr-secondaryColor);
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--clr-borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "nav-wrapper  nav-wrapper"
                          "left-column  right-column";

}
.nav-wrapper {
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--clr-borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-mainColor);
}
#navigation {
    margin: 0;
    padding: 10px;
}
#navigation a {
    color: var(--clr-mainColor);
}
#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.dots-wrapper {
    display: flex;
    padding: 10px;
}
#dot-1 {
 background-color: var(--clr-dot-1);
}
#dot-2 {
 background-color: var(--clr-dot-2);
}
#dot-3 {
 background-color: var(--clr-dot-3);
}
.browser-dot {
    background-color: #000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}
#profile_pic {
  height: 200px;
  width: 200px;

  display: block;
  margin: 0 auto;

  object-fit: cover;
  border: 2px solid var(--clr-borderColor);
}
#theme-options-wrapper {
    display: flex;
    justify-content: center;
}